<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='./cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
</html></head><!-- MADE WITH ❤️ AND ☕ BY-
            			*Vivek Patel*
            				LikedIn:- (https://www.linkedin.com/in/vivek-patel-0553731a5/)
            				Github:- (https://github.com/vivolscute)
            				
            			*Niken Goswami* (DDIT Nadiad) 
            				LikedIn:- (https://www.linkedin.com/in/niken-goswami-6bb231193)
            				Github:- (https://github.com/nikengoswami)
            				
            			*Hunaid Nakhuda*
            				LikedIn:- (https://www.linkedin.com/in/hunaid-nakhuda-66543b1aa)
            				Github:-  (https://github.com/hunaid-nakhuda)
            			Technologies Used- PYTHON3, Pandas , HTML5, CSS3, JAVASCRIPT, PYTHON3, GOOGLE SHEETS , Github
              --><style>
body {
    font-family: 'Calibri', sans-serif;
    background-color: #2b6777;
}</style><nav>
<div class="nav-wrapper black">

    <a href="index.html" class="brand-logo center">SaytoUTU</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">

        <li>
            <a href="rules.html">Rules</a>
        </li>

        <li>
            <a href="saytoutu.html">Confess</a>
        </li>

        <li>
            <a href="view.html">View Confession</a>
        </li>

    </ul>
</div></nav><ul class="sidenav" id="mobile-demo">
<li>
    <a href="rules.html">Rules</a>
</li>
<li>
    <a href="confess.html">Confess</a>
</li>
<li>
    <a href="view.html">View Confession</a>
</li></ul><!-- 
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                 -->
                 

              {% for i in df %}
		<div class="row">
		
		    <div class="col s12 m6 l6">
		
		        <div class="card blue">
		
		            <div class="card-content white-text">
			
		                <span class="card-title">To: {{i[0]}} </span>
		                
		                    <span>Department: {{i[1]}}</span><br>
		                    
		                        <span>Year: {{i[2]}}</span>
		                        
		                            <p>Confession:{{i[3]}} </p>
		            </div>
		        </div>
		    </div>
		
           
            {% endfor %}


